.about-space-section {
  position: relative;
  padding: 60px 20px;
  background-color: #0b0c10;
  color: #f1f1f1;
  max-width: 1000px;
  margin: auto;
  line-height: 1.8;
  font-family: 'Segoe UI', sans-serif;
  border-radius: 20px;
  z-index: 1;
}

.about-space-section::after {
  content: "";
  position: absolute;
  top: -100px;
  left: -100px;
  right: -100px;
  bottom: -100px;
  background:
      radial-gradient(40px at 10% 10%, #0b78de 100%, transparent),
      radial-gradient(60px at 80% 30%, #07079e 100%, transparent),
      radial-gradient(45px at 20% 50%, #00f8d3 100%, transparent),
      radial-gradient(60px at 70% 70%, #fffb1786 100%, transparent),
      radial-gradient(40px at 30% 85%, #0d938e 100%, transparent),
      radial-gradient(40px at 84% 50%, #00f8d3 100%, transparent),
      radial-gradient(50px at 60% 20%, #fffb1786 100%, transparent),
      radial-gradient(40px at 10% 45%, #0d938e 100%, transparent),
      radial-gradient(70px at 40% 86%, #fffb1786 100%, transparent),
      radial-gradient(35px at 100% 90%, #ffffff 100%, transparent),
      radial-gradient(35px at 55% 95%, #0b05be 100%, transparent);   

    
  filter: blur(30px);
  opacity: 0.3;
  z-index: -2;
  transition: 0.5s, 99999s 99999s transform;
}


/* Hover effect */
.about-space-section:hover::before,
.about-space-section:hover::after {
  transform: rotate(36000deg);
  transition: 0.5s, 600s linear transform;
}


.about-space-section h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #fff;
  animation: pulseGlow 2s ease-in-out infinite;
}

@keyframes pulseGlow {
  0%, 100% {
    text-shadow: 0 0 5px #f7cc31, #101111;
  }
  50% {
    text-shadow: 0 0 10px #ffe819, 0 0 20px #000000, 0 0 40px #494748;
  }
}


.about-space-section h3 {
  font-size: 1.6rem;
  margin-top: 30px;
  color: #b5c7f1;
}

.about-space-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about-space-section li {
  margin-bottom: 10px;
}

.about-space-section .note {
  margin-top: 40px;
  font-style: italic;
  text-align: center;
  color: #ddd;
}
